{%- if settings.checkout_discount_success_message -%}
  <div class="d-none">
    <div class="checkout-discount-banner discountSuccessMessageRoot">
      <div class="banner-success">
        {{ settings.checkout_discount_success_message }}
      </div>
    </div>
  </div>

  <script>

  </script>
{%- endif -%}