{%- if settings.checkout_discount_success_message -%}
  <div class="checkout-discount-banner discountSuccessMessageRoot">
    <div class="banner-success">
      {{ settings.checkout_discount_success_message }}
    </div>
  </div>

  <script>
    const handleDiscountSuccessMessage = (discountDataEl, discountNumberEl) => {
      if (discountDataEl) {
        let discountMoney = discountDataEl.dataset.checkoutDiscountAmountTarget;
        discountNumberEl.forEach(el => {
          el.innerHTML = Number(discountMoney) / 100;
        });
        document.documentElement.classList.add('discount-applied');
      } else {
        document.documentElement.classList.remove('discount-applied');
      }
    }

    const discountSuccessMessageRoot = document.querySelector('.discountSuccessMessageRoot');
    const discountSuccessMessage1 = document.querySelector('.checkout-breadcrumbs');
    const discountSuccessMessage2 = document.querySelector('.order-summary__section--discount');
    const orderTotalWrapper = document.querySelector('.order-summary__section--discount');
    
    if (discountSuccessMessage1) {
      discountSuccessMessage1.appendChild(discountSuccessMessageRoot.cloneNode(true));
    }
    if (discountSuccessMessage2) {
      discountSuccessMessage2.appendChild(discountSuccessMessageRoot.cloneNode(true));
    }
    
    var observedElement = document.querySelector('body');
    var changesObserver = new MutationObserver(function(mutations) {
      mutations.forEach(function(mutation) {
        {% comment %} console.log(mutation); {% endcomment %}
        if (mutation.type === 'childList') {
          // Do some stuff
          let discountNumberLineEl = document.querySelector('[data-checkout-discount-amount-target]');
          let discountTotalTargets = document.querySelectorAll('.discountTotal');
          if (discountTotalTargets) {
            console.log(discountTotalTargets);
            handleDiscountSuccessMessage(discountNumberLineEl, discountTotalTargets);
          }
        }
      });
    });
    var changesObserverConfig = { attributes: true, childList: true, characterData: true }
    
    if (observedElement) {
      console.log(observedElement);
      console.log('observedElement');
      changesObserver.observe(observedElement, changesObserverConfig);
    }
    
    document.addEventListener('DOMContentLoaded', () => {
      let discountNumberLineEl = observedElement.querySelector('[data-checkout-discount-amount-target]');
      let discountTotalTargets = document.querySelectorAll('.discountTotal');
      console.log(discountTotalTargets);
      if (discountTotalTargets) {
        handleDiscountSuccessMessage(discountNumberLineEl, discountTotalTargets);
      }
    });
  </script>
{%- endif -%}