{%- assign image_url = '' -%}
{%- assign links_images_arr = links_images | newline_to_br | split: '<br />'  -%}
{%- for group in links_images_arr -%}
  {%- assign group_split = group | split: '::' -%}
  {%- assign name = group_split[0] -%}
  {%- assign image = group_split[1] -%}
  {{name}}
  {{image}}

  {%- if name == link.title -%}
    {%- assign image_url = image -%}
  {%- endif -%}
{%- endfor -%}
{%- if image_url != '' -%}
  <span class="mobile-nav__link-image">
    <img loading="lazy" src="{{ image_url }}" alt="{{ link.title }}">
  </span>
{%- endif -%}