{%- assign image_url = '' -%}
{%- assign links_images_arr = object | newline_to_br | split: '<br />'  -%}
{%- assign title_clean = link.title | strip -%}

{%- for group in links_images_arr -%}
  {%- assign group_split = group | strip | split: '::' -%}
  {{group_split | json}}
  {%- assign name = group_split[0] -%}
  {%- assign name_clean = name | split -%}
  {%- assign image = group_split[1] -%}
  {% if title_clean == name_clean %}
    {% assign image_url = image %}
  {% endif %}
{%- endfor -%}
{%- if image_url != '' -%}
  <span class="mobile-nav__link-image">
    <img loading="lazy" src="{{ image_url }}" alt="{{ link.title }}">
  </span>
{%- endif -%}