{%- assign links_images_arr = links_images | newline_to_br | split: '<br />'  -%}\
{%- for group in links_images_arr -%}
  {%- assign group_split = group | split: '::' -%}
  {%- assign name = value -%}
{%- endfor -%}
<span class="mobile-nav__link-image">

</span>