<div class="superMikroben-tolerance-badge">
  <div class="superMikroben-tolerance-badge-wrapper">
    <div class="superMikroben-icon">
      <img src="https://cdn.shopify.com/s/files/1/0063/0721/7473/files/varBInfoIcon.png?v=1696604156" alt="info icon">
    </div>
    <div class="superMikroben-text-section">
      <p class="superMikroben-head-text">Verträglich mit folgenden Intoleranzen:</p>
      <p class="superMikroben-body-text">
        Histaminintoleranz, Antibiotikaeinnahme, Fructose-Intoleranz, Hefeunverträglichkeit, Laktoseintoleranz
      </p>
    </div>
  </div>
</div>

<style>
    .superMikroben-tolerance-badge {
    background: #EEF0FA;
    border-radius: 10px;
  }

  .superMikroben-tolerance-badge .superMikroben-tolerance-badge-wrapper {
    padding: 10px;
    display: flex;
  }

  .superMikroben-tolerance-badge .superMikroben-tolerance-badge-wrapper .superMikroben-icon {
    margin-right: 6px;
    padding-top: 2px;
  }

  .superMikroben-tolerance-badge .superMikroben-tolerance-badge-wrapper .superMikroben-icon img {
    width: 24px;
    height: 24px;
  }

  .superMikroben-tolerance-badge .superMikroben-tolerance-badge-wrapper .superMikroben-text-section {
    width: 90%;
  }

  .superMikroben-tolerance-badge .superMikroben-tolerance-badge-wrapper .superMikroben-text-section p {
    color: #343434;
    margin: 0;
    line-height: normal;
    font-style: normal;
  }

  .superMikroben-tolerance-badge .superMikroben-tolerance-badge-wrapper .superMikroben-text-section p.superMikroben-head-text {
    font-size: 12px;
    font-weight: 500;
    padding-bottom: 4px;
  }

  .superMikroben-tolerance-badge .superMikroben-tolerance-badge-wrapper .superMikroben-text-section p.superMikroben-body-text {
    font-size: 10px;
    font-weight: 400;
  }

  .product-form__custom-liquid:not(.buybox-bundle-link) {
      margin-top: 10px;
  }
</style>
