{% style %}
  .main-link-box {
    display: flex;
    flex-wrap: wrap;
}
  a.inner-box {
    flex: 1 1 calc(50% - 40px);
    margin: 15px;
    display: flex;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.17) 0 10px 20px;
    border-radius: 10px;
    padding: 37px 20px 35px 35px;
    justify-content: space-between;
    transition: all 400ms;
    transition-timing-function: cubic-bezier(0.3, 0.67, 0.54, 0.96);
}
  a.inner-box:hover{
    transform: scale(1.02);
  }
  .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
{% endstyle %}
<div class="container">
  <div class="main-link-box">
    {% for block in section.blocks %}
      {% assign item = block.settings %}

      <a class="inner-box" href="{{ item.page_url }}">
        <div class="text">
          <h3>{{ item.title }}</h3>
          <h4>{{ item.sub-title }}</h4>
        </div>
      <span>ARROW</span>
        </a>
      
        
    {% endfor %}
  </div>
</div>
{% schema %}
{
  "name": "4 block section",
  "blocks": [
    {
      "name": "link Item",
      "type": "faq",
      "settings": [
        {
          "type": "url",
          "id": "page_url",
          "label": "Page Link"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Title"
        },
          {
          "type": "text",
          "id": "sub-title",
          "label": "Sub title",
          "default": "Sub title"
        }
      ]
    }
  ],
  "presets": [{ "name": "4 block section" }]
}
{% endschema %}