<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% style %}
  .comment_container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 2rem;
}
  .comment_container > *{
    color: #283583;
  }
}
  .rating .checked{
    color: #283583;
    letter-spacing: 5px;
    font-size: 16px;
  }
  .title{
    font-family: "TTNorms", "Helvetica Neue", "Helvetica", sans-serif;
    font-style: italic;
    text-align:center;
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 30px;
    max-width: 60%;
  }
  .description p {
    text-align: center;
    max-width: 60%;
    margin: 0 auto;
    font-size:16px;
}
  .meta strong{
     font-size:16px;
  }
  .rev_custom_section_title{
    color: #010065;
    text-align: center;
    margin-bottom:1rem;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 23px;
  }

  /* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.slides {
  display: none;
  transition: opacity 0.5s ease-in-out;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 5px;
  color: #283583;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


  @media screen and (max-width:768px){
    .comment_container{
      gap:0.5rem;
    }
    .title{
        font-size: 20px;
      line-height: normal;
    margin-bottom: 0;
    max-width: 90%;
    }
    .description p {
    line-height: 25px;
      max-width:80%
    }
  }
{% endstyle %}
<div class="container vertical-breather">
  <h4 class="rev_custom_section_title">{{ section.settings.title }}</h4>


  
  <!-- Carousel wrapper -->
  <div class="slideshow-container">
    {% for block in section.blocks %}
    <!-- Item -->
    <div class="slides">
      <div class="comment_container">
        <div class="rating">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
        </div>
        <span class="title">{{ block.settings.review_title }}</span>
        <div class="description">
         {{ block.settings.review_description}}
        </div>
        <p class="meta">
          <strong> {{ block.settings.review_name}}</strong>
        </p>
      </div>
    </div>
  {% endfor %}
  <!-- Slider controls -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>

  
  

</div>
<script>
let slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  let i;
  let slides = document.getElementsByClassName("slides");
  
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
     slides[i].style.opacity = 0;  /* Change display to opacity */ 
  }

  slides[slideIndex-1].style.opacity = 1;  /* Change display to opacity */
  
}
</script>

{% schema %}
{
  "name": "reviews slider",
   "settings" : [
     {
      "type": "text",
      "id": "title",
      "default": "DAS SAGEN UNSERE KUNDEN",
      "label": "Section Title"
    }
  ],
  "blocks" : [
    {
      "name" : "Review",
      "type" : "review",
      "settings" : [
        {
      "type": "text",
      "id": "review_title",
      "default": "review title...",
      "label": "Review Title"
    },
         {
      "type": "richtext",
      "id": "review_description",
      "default": "<p>review description...</p>",
      "label": "Review Description"
    },
            {
      "type": "text",
      "id": "review_name",
      "default": "reviewname...",
      "label": "Review Name"
    }
      ]
    }
  ],
    "presets": [
  {  "name": "reviews Section"}
]
}
{% endschema %}
