<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js" defer></script>
{% style %}
  .comment_container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 2rem;
}
  .comment_container > *{
    color: #283583;
  }
}
  .rating .checked{
    color: #283583;
    letter-spacing: 5px;
    font-size: 16px;
  }
  .title{
    font-family: "TTNorms", "Helvetica Neue", "Helvetica", sans-serif;
    font-style: italic;
    text-align:center;
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 30px;
    max-width: 60%;
  }
  .description p {
    text-align: center;
    max-width: 60%;
    margin: 0 auto;
    font-size:16px;
}
  .meta strong{
     font-size:16px;
  }
  .rev_custom_section_title{
    color: #010065;
    text-align: center;
    margin-bottom:1rem;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 23px;
  }
  @media screen and (max-width:768px){
    .title{
        font-size: 26px;
    }
    
  }
{% endstyle %}
<div id="default-carousel" class="container vertical-breather" data-carousel="static">
  <h4 class="rev_custom_section_title">{{ section.settings.title }}</h4>
  <!-- Carousel wrapper -->
  <div class="">
    {% for block in section.blocks %}
    <!-- Item -->
    <div class="hidden duration-700 ease-linear" data-carousel-item>
      <div class="comment_container">
        <div class="rating">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
        </div>
        <span class="title">{{ block.settings.review_title }}</span>
        <div class="description">
         {{ block.settings.review_description}}
        </div>
        <p class="meta">
          <strong> {{ block.settings.review_name}}</strong>
        </p>
      </div>
    </div>
  {% endfor %}
  </div>

  
  <!-- Slider controls -->
  <button
    type="button"
    class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
    data-carousel-prev
  >
    <span class="inline-flex items-center justify-center w-10 h-10 rounded-full" style="background: #010065">
      <svg
        class="w-4 h-4 text-white dark:text-gray-800"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 6 10"
      >
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
      </svg>
      <span class="sr-only">Previous</span>
    </span>
  </button>
  <button
    type="button"
    class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
    data-carousel-next
  >
    <span class="inline-flex items-center justify-center w-10 h-10 rounded-full" style="background: #010065">
      <svg
        class="w-4 h-4 text-white dark:text-gray-800"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 6 10"
      >
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
      </svg>
      <span class="sr-only">Next</span>
    </span>
  </button>
</div>

{% schema %}
{
  "name": "reviews slider",
   "settings" : [
     {
      "type": "text",
      "id": "title",
      "default": "DAS SAGEN UNSERE KUNDEN",
      "label": "Section Title"
    }
  ],
  "blocks" : [
    {
      "name" : "Review",
      "type" : "review",
      "settings" : [
        {
      "type": "text",
      "id": "review_title",
      "default": "review title...",
      "label": "Review Title"
    },
         {
      "type": "richtext",
      "id": "review_description",
      "default": "<p>review description...</p>",
      "label": "Review Description"
    },
            {
      "type": "text",
      "id": "review_name",
      "default": "reviewname...",
      "label": "Review Name"
    }
      ]
    }
  ],
    "presets": [
  {  "name": "reviews Section"}
]
}
{% endschema %}
