<div class="container vertical-breather">
  {{ section.settings.title }}
  <div class="main-video-container">
  {% for block in section.blocks %}
    <div class="video-card">
      <button class="btn" id="play-video" data-src="{{ block.settings.link }}">
        {{
          block.settings.image
          | image_url: width: 750
          | image_tag:
            class: 'video_thumbnail'
        }}
        {% render 'icon' with play %}
      </button>
    </div>
  {% endfor %}
  </div>
</div>
<script>
  const btn = document.querySelectorAll('.btn');
  const videoContainer = document.querySelector('.video-container');
  const videoPlayer = document.querySelector('#video_player');
  const close = document.querySelector('.close');

  btn.forEach((item) => {
    item.addEventListener('click', (e) => {
      videoPlayer.setAttribute('src', e.target.dataset.src);
      document.querySelector('body').style.overflow = 'hidden';
      videoContainer.classList.add('show');
      console.log(e.target);
    });
  });
  close.addEventListener('click', () => {
    document.querySelector('body').style.overflow = 'auto';
    videoContainer.classList.remove('show');
    videoPlayer.removeAttribute('src');
  });
</script>
{% schema %}
  {
  "name" : "TV section",
  "settings" : [
     {
      "type": "text",
      "id": "title",
      "default": "Fairment TV",
      "label": "Section Title"
    }
  ],
     "blocks": [
    {
      "type": "video",
      "name": "video",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "video thumbnail"
        },
        {
          "type": "url",
          "id": "link",
          "label": "youtube embed link"
        }
      ]
    }
  ],
  "presets": [
    {  "name": "Tv Section"}
  ]
  }
{% endschema %}