<div class="container vertical-breather">
  {{ section.settings.title }}
  <div class="main-video-container">
  {% for block in section.blocks %}
    <div class="video-card">
      <button class="btn" id="play-video" data-src="{{ block.settings.link }}">
        {{
          block.settings.image
          | image_url: width: 750
          | image_tag:
            class: 'video_thumbnail'
        }}
        {% render 'icon' with play %}
      </button>
    </div>
  {% endfor %}
  </div>
</div>
