{% style %}
  .video-container {
              background-color: rgba(255,255,255,0.7);
              position: fixed;
              top: 50%;
              left: 50%;
              width: 100%;
              height: 100%;
              z-index: 9999;
              display: flex;
              justify-content: center;
              align-items: center;
              opacity: 0;
            transform:translate(-50%, -50%);
              pointer-events: none;
              transition: all 0.3s;
          }

          .video-container .close {
              position: absolute;
              top: 20%;
              right: 25%;
              font-size: 20px;
              cursor: pointer;
              z-index: 900;
              background: #fff;
              width: 25px;
              height: 25px;
              display: flex;
              justify-content: center;
              align-items: center;
          }

            .video-container iframe {
                width: 50vw;
                height: 28.125vw;
                transform: scale(0);
                outline: none;
                border: none;
                outline: 0;
                box-shadow: 0 0 0 0;
            }

          .video-container.show {
              pointer-events: all;
              opacity: 1;
          }

          .video-container.show iframe {
              transform: scale(1);
          }
    img.video_thumbnail {
      width: 100%;
      height: 100%;
  }
    @media only screen and (max-width:768px){
      .video-container iframe {
      width: 100vw;
      height: 56.25vw;
      transform: scale(0);
      outline: none;
      border: none;
      outline: 0;
      box-shadow: 0 0 0 0;
  }
      .video-container {
      position: fixed;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      z-index: 9999;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transform: translate(-50%, -50%);
      pointer-events: none;
      transition: all 0.3s;
  }
      .video-container .close{
        top: 34%;
      right: 0;
      }
    }
  {% endstyle %}
    <div class="video-container">
  <span class="close">&#10006;</span>
  <iframe id="video_player"> </iframe>
</div>
<div class="container vertical-breather">

  {{ section.settings.title }}
  <div class="main-video-container">
  {% for block in section.blocks %}
    <div class="video-card">
      <button class="btn" id="play-video" data-src="{{ block.settings.link }}">
        {% render 'icon' with play %}
        {{
          block.settings.image
          | image_url: width: 750
          | image_tag:
            class: 'video_thumbnail'
        }}
        
      </button>
    </div>
  {% endfor %}
  </div>
</div>
<script>
  const btn = document.querySelectorAll('.btn');
  const videoContainer = document.querySelector('.video-container');
  const videoPlayer = document.querySelector('#video_player');
  const close = document.querySelector('.close');

  btn.forEach((item) => {
    item.addEventListener('click', (e) => {
      videoPlayer.setAttribute('src', e.target.dataset.src);
      document.querySelector('body').style.overflow = 'hidden';
      videoContainer.classList.add('show');
      console.log(e.target);
    });
  });
  close.addEventListener('click', () => {
    document.querySelector('body').style.overflow = 'auto';
    videoContainer.classList.remove('show');
    videoPlayer.removeAttribute('src');
  });
</script>
{% schema %}
  {
  "name" : "TV section",
  "settings" : [
     {
      "type": "text",
      "id": "title",
      "default": "Fairment TV",
      "label": "Section Title"
    }
  ],
     "blocks": [
    {
      "type": "video",
      "name": "video",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "video thumbnail"
        },
        {
          "type": "url",
          "id": "link",
          "label": "youtube embed link"
        }
      ]
    }
  ],
  "presets": [
    {  "name": "Tv Section"}
  ]
  }
{% endschema %}